@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: 216.0000 100.0000% 99.0196%;
  --foreground: 231.4286 41.1765% 6.6667%;
  --card: 0 0% 100%;
  --card-foreground: 231.4286 25.9259% 10.5882%;
  --popover: 0 0% 100%;
  --popover-foreground: 231.4286 41.1765% 6.6667%;
  --primary: 27.0588 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 195.2941 100% 50%;
  --secondary-foreground: 231.4286 41.1765% 6.6667%;
  --muted: 220.8000 29.4118% 83.3333%;
  --muted-foreground: 230.7692 24.5283% 20.7843%;
  --accent: 319.2344 100% 40.9804%;
  --accent-foreground: 0 0% 100%;
  --destructive: 354.7541 100.0000% 64.1176%;
  --destructive-foreground: 0 0% 100%;
  --border: 218.8235 36.1702% 90.7843%;
  --input: 214.2857 53.8462% 97.4510%;
  --ring: 195.2941 100% 50%;
  --chart-1: var(--primary);
  --chart-2: var(--secondary);
  --chart-3: var(--accent);
  --chart-4: 46.3768 100% 59.4118%;
  --chart-5: 147.7241 100% 71.5686%;
  --sidebar: 216.0000 100.0000% 99.0196%;
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: JetBrains Mono;
  --radius: 10px;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.50);
  --tracking-normal: 0.2px;
}

.dark {
  --background: 230 33.3333% 7.0588%;
  --foreground: 237.0000 100.0000% 96.0784%;
  --card: 232.5000 26.6667% 11.7647%;
  --card-foreground: 234.6667 100% 91.1765%;
  --popover: 232.5000 26.6667% 11.7647%;
  --popover-foreground: var(--foreground);
  --primary: 27.0588 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 195.2941 100% 50%;
  --secondary-foreground: 231.4286 41.1765% 6.6667%;
  --muted: 230 20.6897% 22.7451%;
  --muted-foreground: 232.0000 24.3243% 63.7255%;
  --accent: 319.2344 100% 40.9804%;
  --accent-foreground: 0 0% 100%;
  --destructive: 354.7541 100.0000% 64.1176%;
  --destructive-foreground: 0 0% 100%;
  --border: 230 20.6897% 22.7451%;
  --input: 232.5000 26.6667% 11.7647%;
  --ring: 195.2941 100% 50%;
  --chart-1: var(--primary);
  --chart-2: var(--secondary);
  --chart-3: var(--accent);
  --chart-4: 46.3768 100% 59.4118%;
  --chart-5: 147.7241 100% 71.5686%;
  --sidebar: 232.5000 26.6667% 11.7647%;
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: JetBrains Mono;
  --radius: 10px;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 1.00);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

